<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predición de ahorro</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
    <link rel="icon" href="{{url_for('static',filename='favicon.ico')}}" type="image/x-icon">
</head>
</head>

<body>
    <form action="/predecir" method="post">
        <select name="ubicacion">
            <option value="zona_1">Zona 1</option>
            <option value="zona_2">Zona 2</option>
            <option value="zona_3">Zona 3</option>
        </select>
        <label for="">Tamaño del Hogar</label>
        <input type="number" name="tamano_hogar">
        <label for="">Costo de instalación</label>
        <input type="number" step="0.01" name="costo_instalacion">
        <label for="">Energía generada</label>
        <input type="number" step="0.01" name="energia_generada">
        <input type="submit" value="Predecir ahorro">
    </form>
</body>

</html>